@{
    ViewBag.Title = "EmployeeList";
}

<h2>Employee List</h2>

@if (TempData["added"] != null)
{
    <div class="alert alert-info">
        @TempData["added"]
    </div>
}


@if (TempData["updated"] != null)
{
    <div class="alert alert-info">
        @TempData["updated"]
    </div>
}


<table class="table table-bordered bg-success">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.ID</td>
            <td>@employee.Name</td>
            <td>@employee.Location</td>
            <td>@employee.Email</td>
            <td><a href="/NGO/EmployeeDetails/@employee.ID" class="btn btn-info">Details</a></td>
            <td><a href="/NGO/UpdateEmployee/@employee.ID" class="btn btn-success">Edit</a></td>
            @*<td><a href="/NGO/DeleteEmployee/@employee.ID" class="btn btn-danger">Delete</a></td>*@


        </tr>

    }

</table>

<td><a href="/NGO/AddEmployee" class="btn btn-info">Add New</a></td>