@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>Employee Details</h2>

<table class="table table-bordered bg-info">
    <tr>
        <td>ID</td>
        <td>:</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>:</td>
        <td>@Model.Location</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>:</td>
        <td>@Model.Password</td>
    </tr>



</table>