
<h2>Update Restaurant</h2>

<form action="" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <input type="text" name="Location" value="@Model.Location" placeholder="Location" class="form-control" />
    <input type="text" name="Email" value="@Model.Email" placeholder="Location" class="form-control" />
    <input type="text" name="Password" value="@Model.Password" placeholder="Location" class="form-control" />
    <input type="submit" value="Edit" class="btn btn-danger" />
</form>